/* Import Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* Background Palette */

.bright-bg {
    background-color: #eb781bff;
}

.orange-bg {
    background-color: #cc5221ff;
}

.brown-bg {
    background-color: #71250eff;
}

.green-bg {
    background-color: #6f6534ff;
}

.blue-bg {
    background-color: #365365ff;
}

.brown-bg-tsp {
    background-color: #71250e88;
}

.blue-bg-tsp {
    background-color: #36536588;
}

.black-bg-tsp {
    background-color: #00000088;
}

/* Text Palette */

.light-text {
    color: #fafafa;
}

/* general styles */
p,
.col,
i,
h1,
h2,
h3,
h4,
h5,
h6,
div,
nav,
.container-fluid {
    margin: 0px;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Comfortaa", sans-serif;
}

.row {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

ul li {
    display: inline;
    margin: 10px;
}

ul li a,
ul li .btn {
    min-width: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #eb781bff;
    color: #fafafa;
    border-radius: 2px;
}

ul li a:hover,
ul li .btn:hover {
    background-color: #fafafa;
    color: #eb781bff;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
}

nav .row {
    padding: 20px 20px;
}

nav .row * {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

nav li a,
nav li .btn {
    background-color: #cc5221ff;
}

nav .menu-medium li {
    padding: 0;
    margin: 0;
}

nav .menu-medium li a,
nav .menu-medium li .btn {
    padding: 0 10px;
    margin: 0;
}

/* Hero Image */
.hero {
    position: fixed;
    background: url("../images/hero.webp") no-repeat center center/cover;
    height: 100vh;
    min-width: 100vw;
    z-index: -2;
}

/* jumbotron */
.jumbotron {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    padding: 2em;
    overflow: auto;
}

.jumbotron div {
    position: relative;
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 0;
    font-weight: 700;
}


/* Main Section */
.main-section {
    /* margin-top: 472px; */
    padding: 0;
}

.card {
    padding: 10px;
    margin: 10px;
}

ol {
    padding: 0 10px 0 20px;
    margin:0;
}

ol li {
    margin: 10px 0;
}

.carousel {
    padding: 10px 35px;
    min-height: 330px;
}

.carousel h4 {
    margin-bottom:2%;
    font-size: 1.3rem;
}

/* Legal Requirements */

#legal-requirements-section {
    margin-top: 5vh;
    padding: 5vw;
}

#legal-requirements-section > div {
    border-radius: 4px;
    padding: 5vw;
}

.requirements-list {
    list-style-type: disc;
    height: inherit;
    width: inherit;
}

.requirements-list li {
    margin: 5px;
    padding: 5px 15px;
    background-color: #6f6534ff;
    border-radius: 10px;
}


/* Footer */
footer {
    border-width: 0;
}


/* Modal */

/* Buttons */

.modal button {
    border: 4px solid transparent;
    background-color: #eb781bff;
    color: #fafafa;
    border-radius: 4px;
}

.modal button:hover {
    border: 4px solid transparent;
    background-color: #fafafa;
    color: #eb781bff;
}

.modal-body button:active {
    border: 4px solid #eb781bff;
    background-color: #fafafa;
    color: #eb781bff;
}