/* Import Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.light-text
{
    color: #fafafa;
}

/* general styles */
.col,
h1,
div {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Comfortaa", sans-serif;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

header .row {
    padding: 10px 20px;
    background-color: rgba(0000007a);
}

header .row * {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

/* jumbotron */
.jumbotron {
    background: url("../images/hero.webp") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    padding: 5%;
}